*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: gilroy;

}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: white
}

#nav{
    height: 100px;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding: 0 30px;
}

#nav h4{
    font-size: 20px;
    font-weight: 500;
}

#nav i{
    background-color: black;
    color: white;
    font-weight: 500;
    font-size: 20px;
    padding: 10px;
    border-radius: 40%;
}

#center{
   
    width: 100%;
    
    padding: 40px 80px;
}

#center h1{
    font-size: 80px;
    font-weight: 500;
    line-height: 85px;
}

#center-in{
    height: 200px;
    width: 100%;
 
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

#center-in p{
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
}

#right{
    width: 20%;
}

.elem{
    
    margin: 5px;
    padding: 20px 0;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}

.elem a{
    color: black;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.elem:hover i{
    opacity: 1;
}

.elem:hover a{
    text-decoration: underline;
}

#bottom{
    height: 40%;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1552874869-5c39ec9288dc?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 29%;
}